################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FWB/FileContentIndex/0b9fe607-fa99-42a1-8080-c89dd9a5426b.vsidx
/FWB.Shared/obj/Debug/net8.0/refint/FWB.Shared.dll
/FWB.Shared/obj
/FWB.Shared/bin
/FWB/bin
/FWB/obj
/.vs/FWB/FileContentIndex/077d8303-200a-4e61-bfaf-1d7b8049d3c2.vsidx
/.vs/FWB/FileContentIndex/1c43ee72-80d7-4a93-827f-cd8ddaee35a2.vsidx
/.vs/FWB/FileContentIndex/98efcbe3-23bd-4311-8cd4-8f42115c7a6a.vsidx
/.vs/FWB/FileContentIndex/b3989321-4653-440c-9543-b31e26ac31b9.vsidx
/.vs/FWB/FileContentIndex/cfca4825-9268-4f84-afca-b1eac63dfdee.vsidx
