################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FWB/FileContentIndex/0b9fe607-fa99-42a1-8080-c89dd9a5426b.vsidx
/FWB.Shared/obj/Debug/net8.0/refint/FWB.Shared.dll
/FWB.Shared/obj
/FWB.Shared/bin
/FWB/bin
/FWB/obj
/.vs/
/.vs/FWB/FileContentIndex/0429695e-15d3-490c-b296-9c804abb9479.vsidx
/.vs/FWB/FileContentIndex/0594aada-536c-4912-a8ed-63dc9568d6bc.vsidx
/.vs/FWB/FileContentIndex/077d8303-200a-4e61-bfaf-1d7b8049d3c2.vsidx
/.vs/FWB/FileContentIndex/1914ca84-8896-4457-9817-83e0c75fe960.vsidx
/.vs/FWB/FileContentIndex/1cac5d7e-501f-4f7a-a5fa-f997cd37509b.vsidx
/.vs/FWB/FileContentIndex/21f5e4af-8800-4bb8-beb2-42ad99173c37.vsidx
/.vs/FWB/FileContentIndex/26df10bd-03ea-485f-a085-c59c19e9c43f.vsidx
/.vs/FWB/FileContentIndex/283a25a8-d600-4fd7-abc0-6a83e76c0552.vsidx
/.vs/FWB/FileContentIndex/5ddfea62-a325-4e64-8fd2-1c2e79178f6f.vsidx
/.vs/FWB/FileContentIndex/696fbb24-7fcf-416f-8c3e-30ba79eedf88.vsidx
/.vs/FWB/v17/.futdcache.v2
/.vs/FWB/v17/.suo
/.vs/FWB/v17/DocumentLayout.backup.json
/.vs/FWB/v17/DocumentLayout.json
/FWB/bin/Debug/FWB.dll
/FWB/bin/
/FWB/obj/
/FWB/bin/Debug/FWB.pdb
/FWB/bin/Debug/FWB.vsix
/FWB/obj/Debug/files.json
/FWB/obj/Debug/FWB.csproj.AssemblyReference.cache
/FWB/obj/Debug/FWB.csproj.CoreCompileInputs.cache
/FWB/obj/Debug/FWB.csproj.GenerateResource.cache
/FWB/obj/Debug/FWB.dll
/FWB/obj/Debug/FWB.pdb
/FWB.PowerTool/bin/Debug/FWB.PowerTool.dll
/FWB.PowerTool/bin/Debug/FWB.PowerTool.pdb
/FWB.PowerTool/bin/Debug/FWB.PowerTool.vsix
/FWB.PowerTool/obj/Debug/FWB.PowerTool.csproj.AssemblyReference.cache
/FWB.PowerTool/bin/
/FWB.PowerTool/obj/
/FWB.PowerTool/obj/Debug/FWB.PowerTool.csproj.GenerateResource.cache
/FWB.PowerTool/obj/Debug/FWB.PowerTool.dll
/FWB.PowerTool/obj/Debug/FWB.PowerTool.pdb
/FWB.PowerTool/obj/Debug/_EmptyResource.resources.original
/FWB.Shared/bin/Debug/net8.0/FWB.Shared.dll
/FWB.Shared/bin/Debug/net8.0/FWB.Shared.pdb
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.AssemblyInfo.cs
/FWB.Shared/bin/
/FWB.Shared/obj/
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.AssemblyInfoInputs.cache
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.csproj.FileListAbsolute.txt
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.csproj.GenerateResource.cache
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.dll
/FWB.Shared/obj/Debug/net8.0/FWB.Shared.pdb
/FWB.Shared/obj/Debug/net8.0/ref/FWB.Shared.dll
